@media(max-width: 905px){
    .miniWrapper{
        width: 80%;
    }

    h1 {
        font-size: 60px;
    }

    .errorMsg {
        padding: 25% 37%;
    }
}

@media(max-width: 740px){
    h1 {
        font-size: 45px;
    }

    footer {
        display: none;
    }
}

@media(max-width: 720px){
    .headerSojoo {
        width: 15rem;
    }

    .sojoo,
    .sojooOnHover {
        height: 535px;
        width: 430px;
    }
}

@media(max-width: 560px){
    input {
        margin-right: 10px;
    }

    .errorMsg {
        padding: 35%;
    }
}

@media(max-width: 555px){
    .icons li {
        margin-right: 15px;
    }

    h1 {
        font-size: 40px;
    }

    .intro {
        font-size: 17px;
    }

    .down {
        font-size: 3.3em;
    }

    .sojoo,
    .sojooOnHover {
        height: 450px;
        width: 362px;
        top: -9%;
    }
}

@media(max-width: 540px){
    form {
        justify-content: space-between;
        width: 80%;
        margin: 0 auto;
    }

    input,
    .autocompleteItems {
        width: 340px;
    }
}

@media(max-width: 510px){
    input,
    .autocompleteItems {
        width: 280px;
    }
}

@media(max-width: 440px){
    .icons {
    font-size: 23px;
    }

    .icons li {
    margin-right: 5px;
    }

    h1 {
        font-size: 37px;
    }

    .sojoo,
    .sojooOnHover {
        height: 400px;
        width: 321px;
        top: 0;
    }

    .down {
        font-size: 3.1em;
    }

    input,
    .autocompleteItems {
        width: 263px;
    }
}

@media(max-width: 415px){
    input,
    .autocompleteItems {
        width: 245px;
    }

    .errorMsg {
        padding: 47% 30%;
    }
}

@media(max-width: 390px){
    input {
        margin-right: 5px;
    }

    input,
    .autocompleteItems {
        width: 235px;
    }
}

@media(max-width: 375px){
    input,
    .autocompleteItems {
        font-size: 95%;
        width: 215px;
    }

    .sojoo,
    .sojooOnHover {
        height: 380px;
        width: 305px;
        top: 2%;
    }
}

@media(max-width: 350px){
    input,
    .autocompleteItems {
        margin-right: 2px;
        font-size: 92%;
        width: 190px;
    }

    .sojoo,
    .sojooOnHover {
        height: 345px;
        width: 277px;
        top: 3%;
    }
}

// Mobile landscape
@media(max-height: 400px) {
    .intro {
        display: none;
    }

    .hiddenIntro {
        display: initial;
        font-weight: bold;
        text-transform: uppercase;
        margin-bottom: 60px;
    }
}

// Mobile Chrome
    @media all and (-webkit-min-device-pixel-ratio:0) and (min-resolution: .001dpcm) { 
        .selector:not(*:root), .headerSojoo {
            display: none;
        }

        .selector:not(*:root), .down {
            margin-bottom: 80px;
        }
    }

// iOS
    @supports (-webkit-touch-callout: none) {
        .headerSojoo {
            display: none;
        }
    }